<style type="text/css">
	.cardOne
    {
        background: url({{base_url+'assets/img/apps/hello/steps/1.png'}});
        background-size: cover;
        background-position: 50%50%;
    }
    .cardTwo
    {
        background: url({{base_url+'assets/img/apps/hello/steps/2.png'}});
        background-size: cover;
        background-position: 50%50%;
    }

    .cardThree
    {
        background: url({{base_url+'assets/img/apps/hello/steps/3.png'}});
        background-size: cover;
        background-position: 50%50%;
    }
    .cardFour
    {
        background: url({{base_url+'assets/img/apps/hello/steps/4.png'}});
        background-size: cover;
        background-position: 50%50%;
    }
    .cardFive
    {
        background: url({{base_url+'assets/img/apps/hello/steps/5.png'}});
        background-size: cover;
        background-position: 50%50%;
    }
</style>
<div class="howitworks-wrapper">
	<div class="howitworks-header">
		How It Works ?!
	</div>
	<div class="howitworks-body">
		<div class="howitworksCards">
			<div class="cardOneContainer">
				<div class="cardOne">
					
				</div>	
				<div class="step">
					Step 1
				</div>
			</div>
			
			<div class="cardTwoContainer">
				<div class="cardTwo">
					
				</div>
				<div class="step">
					Step 2
				</div>	
			</div>
			<div class="cardThreeContainer">
				<div class="cardThree">
					
				</div>
				<div class="step">
					Step 3
				</div>	
			</div>
			<div class="cardFourContainer">
				<div class="cardFour">
					
				</div>
				<div class="step">
					Step 4
				</div>	
			</div>
			<div class="cardFiveContainer">
				<div class="cardFive">
					
				</div>
				<div class="step">
					Step 5
				</div>	
			</div>
		</div>
	</div>
</div>