    @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
a{
  color: rgba(82,179,217,0.9);
}

/* M E N U */

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 100;
    -moz-user-select: none;
    border-bottom: 1px solid rgb(34, 34, 34);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.back {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: #222;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.back img {
    position: absolute;
    top: 4px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    margin-left: 15px;
    border: 1px solid rgb(34, 34, 34);
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 7px;
    left: 110px;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300;
    cursor: default;
    color: rgb(0, 0, 0);
}
.last{
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .avatar {
    width: 28px;
    height: 28px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
    box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bot .msg {
    order: 1;
    margin-left:10px;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.bot:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 50px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 4px solid #0077E5;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
    /*background: #0077E5;*/
}

.msg {
    background: white;
    min-width: 50px;
    margin-right:10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 12px;
    margin: 0px 0px 0.2rem;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
    font-size: 10px;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

emoji{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-right: 2px;
    transform: translate3d(0px, 3px, 0px);
}
emoji.please{background-image: url(http://imgur.com/ftowh0s.png);}
emoji.lmao{background-image: url(http://i.imgur.com/MllSy5N.png);}
emoji.happy{background-image: url(http://imgur.com/5WUpcPZ.png);}
emoji.pizza{background-image: url(http://imgur.com/voEvJld.png);}
emoji.cryalot{background-image: url(http://i.imgur.com/UUrRRo6.png);}
emoji.books{background-image: url(http://i.imgur.com/UjZLf1R.png);}
emoji.moai{background-image: url(http://imgur.com/uSpaYy8.png);}
emoji.suffocated{background-image: url(http://i.imgur.com/jfTyB5F.png);}
emoji.scream{background-image: url(http://i.imgur.com/tOLNJgg.png);}
emoji.hearth_blue{background-image: url(http://i.imgur.com/gR9juts.png);}
emoji.funny{background-image: url(http://i.imgur.com/qKia58V.png);}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */

.messageArea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
.emojis {
    position: fixed;
    display: block;
    bottom: 8px;
    left: 7px;
    width: 34px;
    height: 34px;
    background-image: url(http://i.imgur.com/5WUpcPZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}

/*LOADING..*/
.blackout{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: #222;
    z-index: 150;
}
.loading_sign{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.settings-cog-cont{
width: 26px;
height: 20px;
    background: #fff;
}
.settings-cog{
    text-align: right;
    font-size: 22px;
    padding-right: 24px;
    vertical-align: top;
    display: inline-block;
    right: 0px;
    position: absolute;
    color: #222;
}


.self .msg{
    background: #0077E5;
}
.self .msg-txt{
    color: #fff;
}
.self .msg-time{
    color:#fff;
}
.back-link:visited, .back-link:active{
    color: #222;
}

html, body, .body{
    position: relative;
    height: 100%;

}
/*HOME PAGE*/
.user-profile{
    /*min-height: 300px;*/
    height: 100%;
    background: #333;
    box-sizing: border-box;

    position: fixed !important;
    left:0;
    z-index: 5;
}

.user_pic{
    width: 220px;
    height: 220px;
    background: #fff;
    border: 1px solid #222;
    margin: 20px auto;
}

.user_data{
    width: 220px;
    height: auto;
    
    color: #fff;
    margin: 0px auto;

}
.ud-cell{
    background: #222;
    padding: 10px;
    margin: 10px auto;
    font-weight: normal;
    font-size: 14px;

}
.main_body{
    min-height: 100%;
    height: auto;
    background: #f2f2f2;
    box-sizing: border-box;

    float: right !important;
}

.welcome_message, .sessions, .visualization{
    height: 200px;
    padding: 20px;
    margin: 20px auto !important;
    background: #fff;
    box-sizing: border-box; 

    color: #222;  
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;

    border: 1px solid #d7d7d7;
    border-radius: 4px;
}
.welcome_message{
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.sessions{
    height: 360px;
    overflow-y: scroll;
}
.visualization{
    height: 360px;
}
.center{
    margin: 0 auto;
    float: none !important;
}
.right{
    float: right !important;
}
.welcome-user-email{
    font-size: 20px;
    color: #555;
    font-weight: lighter;
}


.botmenu{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    left: 0px;
    background: rgb(255, 242, 34) none repeat scroll 0% 0%;
}
.logoutButton{
    height: 24px;
    width: 100%;
    background: #222;
    padding: 13px 0;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;
}

.sess{
    width: 100%;
    height: 50px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgb(215, 215, 215);
    /*border-bottom: 1px solid rgb(215, 215, 215);*/
    font-size: 14px;
    color: rgb(51, 51, 51);
    /*font-weight: lighter;*/
    margin: 4px auto;
    cursor: pointer;
    transition: .3s all;
}
.sessTitle{
    box-sizing: border-box;
    text-align: left;
}
.sessRepliesNo{
    box-sizing: border-box;
    text-align: right;
    color: #124578;
    font-size: 11px;
}

.sessDateTime{
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    color: #757575;
}

.sessHeader{
    display: block;
    width: 100%;
    height: 60px;
    /*border: 1px solid red;*/
}
.sessionsTitle, .newSess{
    box-sizing: border-box;
    text-align: left;
}
.sessionsTitle{
    font-size: 30px;
}
.newSessButton{
    background: #447Ab7;
    width: 100%;
    height: 30px;
    padding: 8px 0px;
    color: #fff;
    text-align: center;
    transition: .3 all;
}
.newSessionText{
    margin-left: 6px;
}
.newSessLink:hover{
    text-decoration: none;
}
.newSessLink:hover .newSessButton{
    background: #0090B7;
}
.sessionBox:hover .sess{
    background: #f2f2f2;
    color: #222;
}
.emotions{
    width: 30px;
    height: 40px;
    padding: 2px 10px 8px 10px;
    font-size: 35px;
    cursor: pointer;
}
.red{
    color: red;
}
.blue{
    color: #3f51b5;
}
.green{
    color: green;
}
.yellow{
    color: #F9D294;
}
.brown{
    color: brown;
}
.grey{
    color: grey;
}
.violet{
    color: violet;
}

.emotion_pic img{
    width: 30px;
    height: 30px;
    padding: 10px
}

.loading_div{
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}