<div class="body-container">
    <div class="simpldon-carousel">
        <slider></slider>
    </div>

    <div id="howitworks" class="howitworks">
            <how-it-works></how-it-works>
            <div class="down" scroll-to="about" container-id="main-container">
                <i class="fa fa-chevron-down down-inverse"></i>
            </div>
    </div>
    <div id="about" class="about">
            about
            <div class="down" scroll-to="partners" container-id="main-container">
                <i class="fa fa-chevron-down down-inverse"></i>
            </div>
    </div>
    <div id="partners" class="partners">
            partners
    </div>
    
</div>