<!DOCTYPE html>
<html lang="en" ng-app="chatBot" ng-cloak>
	{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title>Chatbot</title>
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />

	    <script type="text/javascript">var base_url = "{{ BASE_URL }}";</script>
	    <script type="text/javascript">console.log(base_url);</script>
	    
	    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
	    	    
	    <script src="{% static 'assets/libs/angular/angular.min.js' %}"></script>
	        
	    <!-- loading angular modules -->
	    <script src="{% static 'assets/apps/modules/main/main.js' %}"></script>
	    <script src="{% static 'assets/apps/modules/chat/main.js' %}"></script>

		<!-- loading angular controllers -->
	    <script src="{% static 'assets/apps/modules/chat/controllers/chat_controller.js' %}"></script>
	</head>
	<body ng-controller="chatController"  data-ng-init="init()">
		<div class="blackout" ng-show="loading">
			<div class="loading_sign">
				Loading..
			</div>
		</div>
		<div class="mess">
			<div class="menu">
	            <div class="back">
		            <!-- <i class="fa fa-chevron-left"></i>  -->
		            <img ng-src="http://www.how-to-draw-funny-cartoons.com/images/draw-a-robot-007.jpg" draggable="false"/>
	            </div>
	            <div class="name">SARA</div>
	            <!-- <div class="last">18:09</div> -->
		    </div>
		    <ol class="chat">
			    <li ng-class="msg.sender_id==1 ? 'self' : 'bot'" ng-repeat="msg in messages">
			    	<div class="avatar" ng-show="msg.sender_id==5">
			    		<img ng-src="http://www.how-to-draw-funny-cartoons.com/images/draw-a-robot-007.jpg" draggable="false"/>
			    	</div>
			    	<div class="avatar" ng-show="msg.sender_id==1">
			    		<img ng-src="http://i.imgur.com/HYcn9xO.png" draggable="false"/>
			    	</div>
			      <div class="msg">
			        <p ng-bind ="msg.text"></p>
			        <time ng-bind="msg.time"></time>
			    </li>
		    </ol>
		    
		    <input class="messageArea" type="text" placeholder="Type here!" my-enter="doit()" ng-model="input_text" autofocus/>
		    <div class="emojis"></div>
		    
		</div>      
	</body>
</html>